/lib
/build
/build-*
/compile_commands.json
*.apk*

/.cache
src/com/raylib/game/R.java
/android/sdk
/android/ndk
/android/build/assets
/android/build/classes/com/raylib/game
/android/build/dex
/android/build/lib
/android/build/obj/com/raylib/game
/android/build/res
/android/build/src/com/raylib/game/R.java
/externals/openssl/*.tar.gz
/externals/openssl/openssl_*

*.o
.env
