[submodule "raylib"]
  path = externals/raylib
  url = https://github.com/raysan5/raylib
  branch = 5.5
  shallow = 1

[submodule "rlImGui"]
  path = externals/rlImGui
  url = https://github.com/raylib-extras/rlImGui
  branch = main
  shallow = 1

[submodule "imgui"]
  path = externals/imgui
  url = https://github.com/ocornut/imgui
  branch = v1.92.1
  shallow = 1

[submodule "sol2"]
  path = externals/sol2
  url = https://github.com/ThePhD/sol2
  branch = v3.5.0
  shallow = 1
